.forms{
	background-color: $bg-gray;
	padding: 20px 0px;
	text-align: center;
}

.forms__title{
	font-size: 75px;
	line-height: 125px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.forms__subtitle{
	font-size: 8px;
	letter-spacing: 4.27px;
	text-transform: uppercase;
	line-height: 10.54px;
	font-weight: 400;
	margin: 35px 0px;
}

.inputs{
	margin: 73px auto 42px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 967px;
	max-width: 100%;

}

.inputs__input{
	width: 353px;
	max-width: 100%;
	height: 71px;
	@extend %forms;
}
.checkboxes__block{
	margin: 20px;
}
.checkboxes__title{
	margin-bottom: 30px;
}
.block__img{
	width: 58px;
	height: 58px;
	background:transparent url('../img/features-sprite.png') no-repeat;
	background-size: cover;
	margin: 0 auto;

	&.--branding{
		width: 55px;
		background-position-x: -47px;
	}
	&.--prodaction{
		background-position-x: -104px;
	}
	&.--it{
		width: 46px;
		background-position: left;
	}
	&.--im{
		width: 45px;
		background-position-x: right;
	}
}
.block__title{
	font-size: 25px;
	text-transform: uppercase;
	margin: 57px 0px 40px;
}

.block__list{
	text-align: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.block-list__item{
	letter-spacing: 1.88px;
	line-height: 25px;
	font-size: 13px;
	text-transform: uppercase;

	input{
		display: inline-block;
		margin-right: 20px;
	}
}


.forms__textarea{

	p{
		padding: 0px 40px;
		width: 920px;
		max-width: 100%;
		box-sizing: border-box;
		margin: 0 auto;
	}

	textarea{
		@extend %forms;
		margin: 0 auto;
		resize: none;
		width: 100%;
		min-height: 125px;
	}
}



.checkboxes__blocks{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}


.submit{
	text-align: center;
	margin: 65px 0;
}
.submit__btn{
	display: inline-block;
	letter-spacing: 5.34px;
	text-transform: uppercase;
	font-style: italic;
	font-size: 10px;
	padding: 20px 65px;
	background-color: $primary;
	border: none;
	cursor: pointer;
	border-radius: 10px;
	outline: none;
}

.progressbar__title{
	margin-bottom: 32px;
}
.progressbar{
	width: 715px;
	max-width: 100%;
	position: relative;
	box-sizing: border-box;
	background: $gray;
	box-shadow: inset -3px -2px 0 rgba(0, 0, 0, 0.04);
	height: 32px;
	border-radius: 16px;
	margin: 0 auto;
}

.progressfill{
	width: 27px;
	height: 27px;
	background-color: #fff;
	border-radius: 100%;
	position: absolute;
	top: 2px;
	left: 2px;
	transition: all 0.3s ease-in-out;
}

.progressbar__amount{
	margin-top: 20px;
}

.forms__textarea{

	textarea{
		letter-spacing: 1px;
		text-transform: none;
	}
}

.--dark{
	.forms{
		background: linear-gradient(to bottom, #030303 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030303', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	}
	.progressbar{
		background-color: #5d5d5d;
		box-shadow: inset -3px -2px 0 rgba(0, 0, 0, 0.11);
	}
	.submit__btn{
		background-color: $primary-dark;
		color: $white;
	}
	.block__img{
		background:transparent url('../img/features-sprite-white.png') left top no-repeat;
		background-size: cover;
		&.--branding{
			width: 55px;
			background-position-x: left;
		}
		&.--prodaction{
			background-position-x: -261px;
		}
		&.--it{
			width: 46px;
			background-position: -539px;
		}
		&.--im{
			width: 45px;
			background-position-x: right;
		}

	}
	.block__title{
		color: #858585;
	}
}


@media screen and (max-width: 425px) {
	.forms__title{
		font-size: 44px;
		line-height: normal;
		margin: 60px 0;
	}
	.forms__subtitle{
		margin: 20px;
		font-size: 10px;
		line-height: 1.3;
		letter-spacing: 0.1rem;
	}
	.inputs{
		margin-top: 0;
		margin-bottom: 10px;
	}

	.inputs__input{
		font-size: 8px;
		width: 215px;
		padding: 18px 17px;
		height: auto;
		letter-spacing: 0.1rem;
		margin-bottom: 5px;
	}
	.checkboxes__block{
		display: grid;
		grid-template-columns: 40px 1fr 2fr;
		margin: 20px 0 15px;
		width: 100%;
	}
	
	.forms__subtitle{
		margin: 25px 0px 15px;
	}
	.block__img{
		width: 38px;
		height: 35px;
		margin: 10px auto;
		position: relative;

		&:after, &:before{
			content: '';
			position: absolute;
			right: -85px;
			height: 1px;
			width: 200px;
			background-color: $black;
		}

		&:after{
			top: -10px;
		}
		&:before{
			bottom: -10px;
		}

		&.--branding{
			width: 33px !important;
			background-position-x: -29px;
		}
		&.--prodaction{
			width: 37px !important;
			background-position-x: -62px;
		}
		&.--it{
			width: 28px !important;
			background-position: left;
		}
		&.--im{
			width: 28px !important;
			background-position-x: right;
			margin-top: 23px;
		}
	}
	.block__title{
		margin: 17px 0;
		font-size: 22px;
		font-weight: normal;
	}

	.block-list__item{
		line-height: 1.8;
		letter-spacing: 1px;
		input{
			margin: 0;
		}
	}
	

	.--dark{
		.block__img{
			&.--branding{
				background-position-x: left;
			}
			&.--prodaction{
				background-position-x: -158px;
			}
			&.--it{
				background-position: -325px;
			}
			&.--im{
				background-position-x: right;
			}
		}
	}

}