.--gray-gradient{
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #e4e4e4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fafafa 0%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fafafa 0%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}
.project{
	// background: $bg-gray;
	padding: 20px 0px 230px;
	position: relative;
}


.project__title{
	text-align: center;
	margin-top: 150px;
	margin-left: 10px;
	word-spacing: 3px;
	font-size: 17px;
	letter-spacing: 12.85px;
	line-height: 16.44px;
	text-transform: uppercase;
	margin-bottom: 250px;
}
.project__body{
	
	svg{
		display: block;
		margin: 0 auto;
	}
}
.sculpture{
	display: block;
	margin: 0 auto;
}

.title__main{
	cursor: pointer;
}


.project__footer{
	position: absolute;
	bottom: 0;

	img{
		width: 100%;
		display: block;
	}
}

.title__main{
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	fill: $black;

	&:hover{
		fill: $primary;
	}
}
@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(90deg); }
}
#cross__img{
	// transition: 0.6s linear;
	cursor: pointer;
	transform-origin: 78.5px 78.5px;


// 	&:hover{
// // 
// 		animation: rotation 0.6s linear infinite;
// 	}
}