.--gray-gradient{
	background: #fafafa; /* Old browsers */
	background: -moz-linear-gradient(top, #fafafa 0%, #e4e4e4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fafafa 0%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fafafa 0%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */
}
.project{
	// background: $bg-gray;
	padding: 20px 0px 100px;
	position: relative;
}



.project__body-row{
	display: grid;
	grid-auto-columns: 1fr;
	grid-template: "a b c"
}

.project__title{
	text-align: center;
	margin-top: 150px;
	margin-left: 10px;
	word-spacing: 3px;
	font-size: 17px;
	letter-spacing: 12.85px;
	line-height: 16.44px;
	text-transform: uppercase;
	margin-bottom: 250px;
}

.body-row__title{
	text-align: center;
	align-self: center;
	.subtitle{
		font-size: 17px;
		font-style: italic;
		line-height: 27px;
		letter-spacing: 2.5px;
		margin-bottom: 75px;
	}
	.main-title{
		color: $primary;
		font-size: 67px;
		font-weight: 400;
		line-height: 58.33px;
	}
}
.body-row__img{
	position: relative;
}

.body-row__description{
	list-style-type: none;
	padding: 0;
	margin: 0;

	.description__item{
		font-size: 17px;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
	}
}



.project__footer{
	position: absolute;
	bottom: 0;

	img{
		width: 100%;
		display: block;
	}
}