<section class="banner">
	{{>header}}

	<div class="banner__popup">
		<button class="close-btn"><img src="assets/img/close-button.svg"></button>
		<div class="popup__container">
			<video id="popup-video" preload="auto" autoplay="true" muted="muted" playsInline>
				<source type="video/mp4" src="assets/img/popup.mp4"></source>
			</video>
			<video id="popup-video-mob" src="../assets/img/popup-mob.mp4" autoplay="true" muted="muted" playsInline></video>
		</div>
	</div>

	 <div class="banner__wrapper wrapper">
	 	<div class="banner__title">
	 		<h1 class="--rubrica-title">
				<span class="--italic">ПЛЕВАТЬ<br/>НА ЛОГИКУ</span><br/>ШЕДЕВР<br/>СОЗДАЮТ<br/>ЭМОЦИИ
				<span class="switcher">
					<img src="assets/img/switcher.png" alt="switcher">
				</span>
			</h1>
	 		<h4 class="--avente-subtitle-big">А ЭМОЦИИ СОЗДАЕМ <a href="#summary" class="--primary-color">МЫ</a></h4>
	 	</div>
	 	<div class="banner__head">
	 		<div class="canvas-bg">
	 			<canvas height="810px" id="canvas"></canvas>
	 		</div>
	 		<div class="head-img"></div>
	 	</div>
	 </div>
	 <div class="banner__mob-content wrapper banner__toform-btn">
	 	<div class="toform-btn__btn"><a href="#forms-block">хочу шедевр</a></div>
	 	<p class="banner__mob-text">Когда-то давно Микеланджело
			<br/>вооружился инструментами
			<br/>и создал из глыбы мрамора
			<br/>произведение искусства — «Давида».
			<br/>Скульптор даже пренебрег логикой и
			<br/>исказил пропорции человеческого тела,
			<br/>чтобы достичь большей художественной
			<br/>выразительности.</p>
	 </div>
</section>
