<section id="forms-block" class="forms">
	<div class="forms__container wrapper">
		<h1 class="forms__title --rubrica">начать проект</h1>
		<h3 class="forms__subtitle">Спасибо за проявленный интерес к нашей работе. 
			<br>Пожалуйста, заполните форму ниже, и мы свяжемся с вами для уточнения деталей в течение одного рабочего дня.</h3>

		<form action="" class="forms__inputs">
			<div class="inputs">
				<input class="inputs__input" placeholder="имя" type="text">
				<input class="inputs__input" placeholder="E-mail" type="email">
				<input id="phone" class="inputs__input" placeholder="номер телефона" type="tel">
				<input class="inputs__input" placeholder="название компании" type="text">
			</div>

			<div class="forms__checkboxes">
				<div class="checkboxes__title forms__subtitle">отметьте необходимое</div>
				<div class="checkboxes__blocks">
					<div class="checkboxes__block">
						<div class="block__img --branding"></div>
						<div class="block__title --rubrica">Брендинг</div>
						<ul class="block__list">
							<li class="block-list__item md-checkbox">
									
								<label><input class="checkbox-item" data-price="20" type="checkbox"> фирменный стиль</label>
							</li>
							<li class="block-list__item md-checkbox">
									
								<label><input class="checkbox-item" data-price="20" type="checkbox"> логотип</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> дизайн</label>
							</li>
							<li class="block-list__item md-checkbox">
									
								<label><input class="checkbox-item" data-price="20" type="checkbox"> брендбук</label>
							</li>
							<li class="block-list__item md-checkbox">
									
								<label><input class="checkbox-item" data-price="20" type="checkbox"> нейминг</label>
							</li>
							<li class="block-list__item md-checkbox">
									
								<label><input class="checkbox-item" data-price="20" type="checkbox"> копирайтинг</label>
							</li>			
						</ul>
					</div>
					<div class="checkboxes__block">
						<div class="block__img --prodaction"></div>
						<div class="block__title --rubrica">ПРОДАКШН</div>
						<ul class="block__list">
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> интеграции</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> проморолики</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> полноценные сюжеты</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> канал под ключ</label>
							</li>
						</ul>
					</div>
					<div class="checkboxes__block">
						<div class="block__img --it"></div>
						<div class="block__title --rubrica">it</div>
						<ul class="block__list">
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> сайт</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> приложение</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> CRM</label>
							</li>
						</ul>
					</div>
					<div class="checkboxes__block">
						<div class="block__img --im"></div>
						<div class="block__title --rubrica">интернет-маркетинг</div>
						<ul class="block__list">
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> SMM-продвижение</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> SEO-продвижение</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> контент-маркетинг</label>
							</li>
							<li class="block-list__item md-checkbox">
								<label><input class="checkbox-item" data-price="20" type="checkbox"> контекстная реклама</label>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="forms__progressbar">
				<div class="forms__subtitle progressbar__title">примерный бюджет</div>
				<div class="progressbar wrapper">
					<div class="progressfill"></div>
				</div>
				<p class="wrapper progressbar__amount">0$</p>
			</div>

			<div class="forms__textarea">
				<div class="forms__subtitle textarea__title">опишите проект</div>
				<p><textarea name="text"></textarea></p>
			</div>

			<div class="submit">
				<input class="submit__btn" value="отправить" type="submit">
			</div>
		</form>

	</div>
</section>