<div class="switcher">
  <svg width="231px" height="138px" viewBox="0 0 231 138" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
      <filter x="-39.4%" y="-39.4%" width="178.8%" height="178.8%" filterUnits="objectBoundingBox" id="filter-dark">
        <feOffset dx="0" dy="0" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
        <feMerge>
          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
      <linearGradient x1="50%" y1="42.6916525%" x2="50%" y2="154.889267%" id="linearGradient-dark">
        <stop stop-color="#FFFFFF" offset="0%"></stop>
        <stop stop-color="#D0D0D0" offset="11%"></stop>
        <stop stop-color="#B2B2B2" stop-opacity="0" offset="36%"></stop>
        <stop stop-color="#070707" stop-opacity="0" offset="86%"></stop>
        <stop stop-color="#000000" stop-opacity="0" offset="100%"></stop>
      </linearGradient>

      <radialGradient cx="60.697734%" cy="50%" fx="60.697734%" fy="50%" r="171.649845%" gradientTransform="translate(0.606977,0.500000),scale(0.142522,1.000000),translate(-0.606977,-0.500000)" id="radialGradient-1">
        <stop stop-color="#FFBA00" offset="0%"></stop>
        <stop stop-color="#F8B700" offset="69%"></stop>
        <stop stop-color="#EFB300" offset="100%"></stop>
      </radialGradient>
      <filter x="-57.6%" y="-43.4%" width="215.2%" height="201.0%" filterUnits="objectBoundingBox" id="filter-2">
        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
        <feGaussianBlur stdDeviation="10" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
        <feMerge>
          <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
          <feMergeNode in="SourceGraphic"></feMergeNode>
        </feMerge>
      </filter>
      <linearGradient x1="50%" y1="97.8133273%" x2="50%" y2="-10.2529802%" id="linearGradient-3">
        <stop stop-color="#FFD05A" offset="0%"></stop>
        <stop stop-color="#FFC630" offset="100%"></stop>
      </linearGradient>
      <filter x="-20.0%" y="-25.4%" width="140.0%" height="150.7%" filterUnits="objectBoundingBox" id="filter-4">
        <feGaussianBlur stdDeviation="6" in="SourceGraphic"></feGaussianBlur>
      </filter>
      <linearGradient x1="50%" y1="42.6916525%" x2="50%" y2="154.889267%" id="linearGradient-5">
        <stop stop-color="#FFFFFF" offset="0%"></stop>
        <stop stop-color="#D0D0D0" offset="11%"></stop>
        <stop stop-color="#B2B2B2" stop-opacity="0" offset="36%"></stop>
        <stop stop-color="#070707" stop-opacity="0" offset="86%"></stop>
        <stop stop-color="#000000" stop-opacity="0" offset="100%"></stop>
      </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g id="main-laptop-copy" transform="translate(-582.000000, -2278.000000)" fill-rule="nonzero">
        <g id="switch-night" transform="translate(582.000000, 2297.600000)">
          <g id="line" transform="translate(0.000000, 33.690000)">
            <rect id="line-dark" fill="#4242D1" x="-2.91322522e-12" y="1.12798659e-12" width="217.65" height="31.02"></rect>
            <g id="line-light" fill="url(#radialGradient-1)">
              <rect id="Rectangle-Copy" x="-2.91322522e-12" y="2.18491891e-13" width="217.65" height="31.02"></rect>
            </g>
          </g>
          <g id="switch" filter="url(#filter-dark)" transform="translate(112.610000, -0.000000)">
            <g id="dark-circle">
              <circle id="Oval" fill="#4242D1" cx="49.2" cy="49.2" r="49.2"></circle>
              <ellipse id="Oval" fill="#4242D1" cx="49.22" cy="64.58" rx="37.97" ry="29.88"></ellipse>
              <ellipse id="Oval" fill="#4242D1" cx="49.25" cy="79.96" rx="26.74" ry="10.57"></ellipse>
              <ellipse id="Oval" fill="url(#linearGradient-dark)" opacity="0.55" style="mix-blend-mode: soft-light;" cx="49.2" cy="33.07" rx="35.05" ry="29.35"></ellipse>
            </g>
            <g id="light-circle">
              <circle id="Oval-Copy-4" fill="#FFBB04" cx="49.2" cy="49.2" r="49.2"></circle>
              <ellipse id="Oval-Copy-3" fill="url(#linearGradient-3)" filter="url(#filter-4)" cx="49.19" cy="58.96" rx="45" ry="35.5"></ellipse>
              <ellipse id="Oval-Copy" fill="url(#linearGradient-5)" opacity="0.55" style="mix-blend-mode: soft-light;" cx="49.2" cy="33.07" rx="35.05" ry="29.35"></ellipse>
            </g>
          </g>
        </g>
      </g>
    </g>
  </svg>
</div>
