<section id="video" class="video-sect">
	<div data-aos="fade-right" class="video-sect__container">
		<div class="video-sect__hand">
			<div class="img__phone">

				<div class="video-container">
					<!-- <video id="promovideo" src="https://youtu.be/k9SKe2iYdNU"></video> -->
					<iframe class="yt-video" src="https://www.youtube.com/embed/k9SKe2iYdNU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<img src="assets/img/hand/phone.png" alt="phone">
				<!-- <div class="play-btn"><img src="assets/img/play-button.svg" alt="play-btn"></div>
				<div class="fullscreen-btn"><img src="assets/img/switch-to-full-screen-button.svg" alt="fullscreen"></div> -->
			</div>
			<div class="img__hand"></div>
		</div>
	</div>
	<div class="video-sect__container-mob">
		<!-- <iframe class="yt-video-mob" src="https://www.youtube.com/embed/k9SKe2iYdNU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

		<a class="link-to-video" target="_blank" href="https://youtu.be/k9SKe2iYdNU">
			<?xml version="1.0"?>
			<svg class="play-btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve" width="512px" height="512px" class="">
					<path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M45.563,30.826l-22,15  C23.394,45.941,23.197,46,23,46c-0.16,0-0.321-0.038-0.467-0.116C22.205,45.711,22,45.371,22,45V15c0-0.371,0.205-0.711,0.533-0.884  c0.328-0.174,0.724-0.15,1.031,0.058l22,15C45.836,29.36,46,29.669,46,30S45.836,30.64,45.563,30.826z"/>
			</svg>
		</a>
	</div>
	<div data-aos="fade-right" class="wrapper video-sect__logo">
		<?xml version="1.0" encoding="UTF-8"?>

		<svg width="151px" height="59px" viewBox="0 0 151 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		        <g id="logo-mid" fill-rule="nonzero">
		            <g id="logo-mid__text" transform="translate(118.000000, 28.000000)" fill="#000000">
		                <g id="header" transform="translate(0.812500, 0.437500)">
		                    <path d="M7.68274333e-14,11.6598563 L7.68274333e-14,0.10504375 L2.65610625,0.10504375 C2.99624963,0.10504375 3.27636347,0.13505595 3.49645625,0.19508125 C4.16673878,0.37515715 4.501875,1.09044791 4.501875,2.340975 L4.501875,9.5739875 C4.501875,10.3243038 4.38182619,10.8495173 4.141725,11.1496438 C3.87161116,11.4897871 3.37640984,11.6598563 2.65610625,11.6598563 L7.68274333e-14,11.6598563 Z M1.72571875,1.48561875 L1.72571875,10.2792812 L2.220925,10.2792812 C2.4610262,10.2792812 2.62109128,10.1892447 2.701125,10.0091687 C2.74114188,9.89912237 2.76115,9.69904103 2.76115,9.40891875 L2.76115,2.38599375 C2.76115,1.78574075 2.58607884,1.48561875 2.23593125,1.48561875 L1.72571875,1.48561875 Z" id="DIGI-path-2"></path>
		                    <polygon id="DIGI-path" points="7.2330125 11.6598562 5.4922875 11.6598562 5.4922875 0.10504375 7.2330125 0.10504375"></polygon>
		                    <path d="M11.0746125,9.94914375 L11.0746125,6.94789375 L10.4293438,6.94789375 L10.4293438,5.40225 L12.8153375,5.40225 L12.8153375,9.94914375 C12.8153375,10.2992913 12.7853253,10.5794052 12.7253,10.7894937 C12.5352199,11.4397678 11.804923,11.7649 10.5343875,11.7649 C9.74405438,11.7649 9.18882869,11.6598573 8.86869375,11.4497687 C8.45852088,11.1796549 8.2534375,10.6794516 8.2534375,9.94914375 L8.2534375,1.81575625 C8.2534375,1.08544843 8.45852088,0.5852451 8.86869375,0.31513125 C9.18882869,0.1050427 9.74405438,0 10.5343875,0 C11.804923,0 12.5352199,0.325132166 12.7253,0.97540625 C12.7853253,1.1854948 12.8153375,1.46560867 12.8153375,1.81575625 L12.8153375,3.97665625 L11.0746125,3.97665625 L11.0746125,1.81575625 C11.0746125,1.61567192 11.0370973,1.48812007 10.9620656,1.43309687 C10.887034,1.37807368 10.7444761,1.3505625 10.5343875,1.3505625 C10.3242989,1.3505625 10.181741,1.37807368 10.1067094,1.43309687 C10.0316778,1.48812007 9.9941625,1.61567192 9.9941625,1.81575625 L9.9941625,9.94914375 C9.9941625,10.1492281 10.0316778,10.2767799 10.1067094,10.3318031 C10.181741,10.3868263 10.3242989,10.4143375 10.5343875,10.4143375 C10.7444761,10.4143375 10.887034,10.3868263 10.9620656,10.3318031 C11.0370973,10.2767799 11.0746125,10.1492281 11.0746125,9.94914375 Z" id="DIGI-path"></path>
		                    <polygon id="DIGI-path" points="15.4714438 11.6598562 13.7307188 11.6598562 13.7307188 0.10504375 15.4714438 0.10504375"></polygon>
		                    <path d="M26.5419438,11.6598563 L24.7862125,11.6598563 L24.5311063,8.77865625 L23.1655375,8.77865625 L22.8654125,11.6598563 L21.3197688,11.6598563 L22.6403188,0.10504375 L25.2213938,0.10504375 L26.5419438,11.6598563 Z M23.8858375,1.69570625 L23.3306063,7.263025 L24.3810438,7.263025 L23.8858375,1.69570625 Z" id="AL-path-2"></path>
		                    <polygon id="AL-path" points="28.8228938 0.10504375 28.8228938 10.1742375 30.6536563 10.1742375 30.6536563 11.6598562 27.0821688 11.6598562 27.0821688 0.10504375"></polygon>
		                    <polygon id="T" points="19.6061375 11.6598562 17.8804188 11.6598562 17.8804188 1.5906625 16.5598688 1.5906625 16.5598688 0.10504375 20.9266875 0.10504375 20.9266875 1.5906625 19.6061375 1.5906625"></polygon>
		                </g>
		                <g id="footer" transform="translate(0.106250, 17.893269)">
		                    <path d="M5.222175,11.7629812 L3.46644375,11.7629812 L3.2113375,8.88178125 L1.84576875,8.88178125 L1.54564375,11.7629812 L5.32907052e-14,11.7629812 L1.32055,0.20816875 L3.901625,0.20816875 L5.222175,11.7629812 Z M2.56606875,1.79883125 L2.0108375,7.36615 L3.061275,7.36615 L2.56606875,1.79883125 Z" id="A"></path>
		                    <path d="M8.59886875,9.94914375 L8.59886875,6.94789375 L7.9536,6.94789375 L7.9536,5.40225 L10.3395937,5.40225 L10.3395937,9.94914375 C10.3395937,10.2992913 10.3095816,10.5794052 10.2495562,10.7894938 C10.0594761,11.4397678 9.32917928,11.7649 8.05864375,11.7649 C7.26831062,11.7649 6.71308494,11.6598573 6.39295,11.4497688 C5.98277712,11.1796549 5.77769375,10.6794516 5.77769375,9.94914375 L5.77769375,1.81575625 C5.77769375,1.08544844 5.98277712,0.585245094 6.39295,0.31513125 C6.71308494,0.105042688 7.26831062,7.10542736e-15 8.05864375,7.10542736e-15 C9.32917928,7.10542736e-15 10.0594761,0.325132156 10.2495562,0.97540625 C10.3095816,1.18549481 10.3395937,1.46560866 10.3395937,1.81575625 L10.3395937,3.97665625 L8.59886875,3.97665625 L8.59886875,1.81575625 C8.59886875,1.61567191 8.5613535,1.48812006 8.48632187,1.43309688 C8.41129025,1.37807369 8.26873231,1.3505625 8.05864375,1.3505625 C7.84855519,1.3505625 7.70599725,1.37807369 7.63096562,1.43309688 C7.555934,1.48812006 7.51841875,1.61567191 7.51841875,1.81575625 L7.51841875,9.94914375 C7.51841875,10.1492281 7.555934,10.2767799 7.63096562,10.3318031 C7.70599725,10.3868263 7.84855519,10.4143375 8.05864375,10.4143375 C8.26873231,10.4143375 8.41129025,10.3868263 8.48632187,10.3318031 C8.5613535,10.2767799 8.59886875,10.1492281 8.59886875,9.94914375 Z" id="GEN-path"></path>
		                    <polygon id="GEN-path" points="15.1115812 11.6598563 11.2399687 11.6598563 11.2399687 0.10504375 15.1115812 0.10504375 15.1115812 1.5906625 12.9806937 1.5906625 12.9806937 4.54689375 15.0065375 4.54689375 15.0065375 6.0325125 12.9806937 6.0325125 12.9806937 10.1742375 15.1115812 10.1742375"></polygon>
		                    <polygon id="GEN-path" points="19.8535562 9.07878125 19.8535562 0.10504375 21.2641437 0.10504375 21.2641437 11.6598563 18.9231687 11.6598563 17.3475125 2.401 17.3475125 11.6598563 15.936925 11.6598563 15.936925 0.10504375 18.3679375 0.10504375"></polygon>
		                    <path d="M25.1463625,3.97665625 L25.1463625,1.81575625 C25.1463625,1.61567191 25.1088472,1.48812006 25.0338156,1.43309688 C24.958784,1.37807369 24.8162261,1.3505625 24.6061375,1.3505625 C24.3960489,1.3505625 24.25099,1.37807369 24.1709562,1.43309688 C24.0909225,1.48812006 24.0509062,1.61567191 24.0509062,1.81575625 L24.0509062,9.94914375 C24.0509062,10.1492281 24.0909225,10.2767799 24.1709562,10.3318031 C24.25099,10.3868263 24.3960489,10.4143375 24.6061375,10.4143375 C24.8162261,10.4143375 24.958784,10.3868263 25.0338156,10.3318031 C25.1088472,10.2767799 25.1463625,10.1492281 25.1463625,9.94914375 L25.1463625,7.48811875 L26.8870875,7.48811875 L26.8870875,9.94914375 C26.8870875,10.2992913 26.8570753,10.5794052 26.79705,10.7894938 C26.6069699,11.4397678 25.876673,11.7649 24.6061375,11.7649 C23.8158044,11.7649 23.2605787,11.6598573 22.9404437,11.4497688 C22.5302709,11.1796549 22.3251875,10.6794516 22.3251875,9.94914375 L22.3251875,1.81575625 C22.3251875,1.08544844 22.5302709,0.585245094 22.9404437,0.31513125 C23.2605787,0.105042688 23.8158044,7.10542736e-15 24.6061375,7.10542736e-15 C25.876673,7.10542736e-15 26.6069699,0.325132156 26.79705,0.97540625 C26.8570753,1.18549481 26.8870875,1.46560866 26.8870875,1.81575625 L26.8870875,3.97665625 L25.1463625,3.97665625 Z" id="C"></path>
		                    <polygon id="Y" points="31.1465187 0.10504375 32.7521875 0.10504375 30.98145 7.36806875 30.98145 11.6598563 29.2707375 11.6598563 29.2707375 7.33805625 27.5 0.10504375 29.2707375 0.10504375 30.201125 5.14714375 30.2311375 5.14714375"></polygon>
		                </g>
		            </g>
		            <g id="logo-mid__icon" fill="#FFBA00">
		                <path d="M14.0125,38.834375 L14.0125,57.115625 L0.311735098,57.115625 L0.3125,39.090625 C0.288644345,36.6491841 0.823084556,34.2345831 1.875,32.03125 C2.88468355,29.9160942 4.30124763,28.0206168 6.04375,26.453125 C9.67204694,23.2286087 14.3584265,21.4492524 19.2125,21.453125 L68.6625,21.453125 L68.6625,18.015625 C68.6625,16.2690245 67.2466006,14.853125 65.5,14.853125 L3.5,14.853125 L3.5,-2.09586783e-15 L65.134375,-2.09586783e-15 C67.5506503,-0.00352398453 69.941475,0.493367506 72.15625,1.459375 C76.6070953,3.36598156 80.2002016,6.84450866 82.25,11.23125 C83.2888775,13.4257523 83.8227919,15.8251627 83.8125,18.253125 L83.812646,57.115625 L68.59375,57.115625 L68.59375,35.675 L17.1875,35.675 C16.3471304,35.6716778 15.5399958,36.0029728 14.9442962,36.5957409 C14.3485965,37.1885088 14.0133238,37.9939994 14.0125,38.834375 Z" id="Shape"></path>
		                <circle id="Oval" cx="99.365625" cy="50.403125" r="7.715625"></circle>
		            </g>
		        </g>
		    </g>
		</svg>
	</div>
</section>
