.footer{
	background-color: $bg-gray;
	position: relative;
}
.mail-link{
	color: $black;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 6.2px;

}

.tel{
	font-size: 16px;
	letter-spacing: 4.4px;
}
.footer__mail{
	flex-direction: column;

	div{
		margin: 5px;
	}
}

.footer__container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px 0px 80px;

}

.footer__item{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.address{
	font-size: 9px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.links{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
	width: 100%;
	max-width: 300px;
	a{
		display: block;
		.fillible{
			transition: 0.2s ease-in-out;
			fill: transparent;
		}

		&:hover{
			.fillible{
				fill: $primary;
			}
		}
	}
}
.links__item{


}

.coockies-alert{
	display: none;
  position: fixed;
  bottom: 0;
  left: 0;

	width: 100vw;
	padding: 20px 30px;
	box-sizing: border-box;

  background-color: $primary;

	z-index: 3;
}

.coockies-alert__container{
	display: flex;
  align-items: center;
  justify-content: space-between;

	p{
		line-height: 1.6;
	}
}

.close-coockies-alert-btn{
	svg{
		cursor: pointer;
		width: 50px;
		height: auto;
		fill: $black;
	};
}

.--dark{
	.coockies-alert{
		background-color: $primary-dark;
	}
	.close-coockies-alert-btn{
		svg{
			fill: $white;
		}
	}
	.footer{
		background-color: $gray-darknest;
	}
	.mail-link{
		color: $white;
	}

	#footer-logo__icon{
		fill: $primary-dark;
	}
	#footer-logo__text{
		fill: $white;
	}

	.links{
		.stroke{
			fill: $white;
		}

		a:hover{

			.fillible{
				fill: $primary-dark;
			}
		}
	}
}

@media screen and (max-width: 768px){
	.footer__container{
		grid-template-columns: 1fr;
		padding: 20px;
	}

	.footer__item{
		margin: 20px 0px;
	}
	.mail-link{
		font-size: 10px;
	}
	.footer__mail{
		order: 3;
	}
	.address{
		text-align: center;
	}
}
