.header{
	padding: 20px 0px;
	position: relative;
	z-index: 4;
}
.header__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__spacer{
	display: flex;
}
.spacer__text{
	letter-spacing: 8.21px;
	font-style: italic;
	text-transform: uppercase;
	color: $black;
	text-decoration: none;
	padding: 10px 20px;
	position: relative;
	display: block;
	transition: all 0.3s;

	&:before, &:after{
		content: '';
		height: 1px;
		width: 0;
		transition: all 0.5s ease-in-out;
		position: absolute;
		background-color: $black;
	}

	&:before{
		left: 0;
		top: 0;
	}
	&:after{
		right: 0;
		bottom: 0;
	}
	&:last-child{
		&:before{
			left: auto;
			right: 0;
		}
		&:after{
			right: auto;
			left: 0;
		}
	}
	&:hover, &:focus{
		&:before, &:after{
			width: 100%;
		}
	}

}

.header__shower-btn{
	margin-right: 20px;
	cursor: pointer;

	svg{
		width: 49px;
		height: 27px;
	}
}
.header__links{
	position: relative;
}
.links__list{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	transform: rotate(-90deg);
	position: absolute;
	left: -330px;
	top: -60vh;
	transition: 0.6s ease-in-out;
	opacity: 0.4;
	&.active{
		top: 60vh;
	}
}

.list__item{
	margin: 0px 45px;

	a{
		color: $black;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 10px;
		letter-spacing: 2px;
	}
}

.header__langswitcher{
	font-size: 8px;
	letter-spacing: 2.05px;
	color: #8f8f8f;
	text-transform: uppercase;
	font-weight: bold;

	.active{
		color: $primary;
	}

	.langswich-item:not(:last-child){
		margin-right: 10px;
	}
	a{
		color: #8f8f8f;
		text-decoration: none;
	}
}

.--dark{
	.header__langswitcher .active{
		color: $primary-dark;
	}
	.spacer__text{
		&:before, &:after{
			background-color: $white;
		}
	}

	#logo-header{
		fill: $primary-dark;
	}
	.header__logo{
		#logo__text{
			fill: $white;
		}
		#logo__rect{
			fill: $primary-dark;
		}
	}

	.header a {
		color: $white;
	}
}


@media screen and (max-width: 1440px) {
	.links__list{
		left: -210px;
	}
	.list__item{
		margin: 0 20px;
	}
}


@media screen and (max-width: 425px){
	.header{
		padding: 30px 0px;
	}
	.header__logo{
		margin: 0 0 0 20px;
		img{
			width: 133px;
		}
	}
	.header__spacer{
		display: none;
	}
	.header__shower-btn{
		margin: 0;
		svg{
			width: 55px;
		}
	}
}
