<!DOCTYPE html>
<html>

	<head>
		{{#with header}}
		<title>{{header_title}}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="stylesheet" href="/assets/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,200" rel="stylesheet">
		<style type="text/css"></style>

		{{/with}}
	</head>
	<body>

		{{!-- intro --}}


		<main class="mode">
		{{>banner}}

		{{>summary}}


		<section class="--gray-gradient">

			{{>video}}

			{{>project}}

		</section>


			{{>form}}


			{{>footer}}
	</main>
		
		<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
		<script src="assets/js/bundle.js"></script>

	</body>

</html>